<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
     <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form> <br>

    {% if form.errors %}
        <div class="alert alert-danger" role="alert"> Ваш пароль или логин неверный </div>
    {% endif %}
</body>
</html>